* {
	margin: 0px;
	padding: 0px;
	font-family: arial, sans-serif, verdana;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 3s ease-in-out;
	-moz-animation: fadeIn 3s ease-in-out;
	-o-animation: fadeIn 3s ease-in-out;
	animation: fadeIn 3s ease-in-out;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
}

nav {
	display: flex;
	display: -webkit-flex;
	display: -o-flex;
	display: -moz-flex;

	flex-direction: row;
	-webkit-flex-direction: row;
	-o-flex-direction: row;
	-moz-flex-direction: row;

	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-moz-flex-wrap: wrap;

	justify-content: space-around;
	-webkit-justify-content: space-around;
	-o-justify-content: space-around;
	-moz-justify-content: space-around;

	width: 100%;
	background: rgba(0, 0, 0, .8);
	min-height: 55px;
	border-bottom: 1px solid red;
	color: white;
	margin: 0px 0px 0px 0px;
	z-index: 9999;
}

nav li {
	display: inline-flex;
	-webkit-display: flex;
	-o-display: flex;
	-moz-display: flex;

	list-style: none;
	text-decoration: none;
	font-size: 22px;
	margin:  0px 5px 0px 5px;
	
}

li a {
	text-decoration: none;
	color: white;
	padding: 15px 20px 5px 20px;
	transition: 0.8s;

}

li a:hover {
	color: white;
	background: #d6f9ff;
	/* Old browsers */
	background: -moz-linear-gradient(top, red 0%, rgba(103, 250, 255, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, red 0%, rgba(103, 250, 255, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, red 5%, rgba(103, 250, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009fb8', endColorstr='#0067faff', GradientType=0);
	/* IE6-9 */
	transform: scale(1.2);

	margin: 0px;
}

#box {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.box-login {
	background-image: url('/public/image/box-login2.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	padding: 0px;
	box-shadow: 30px !important;
	margin-top: -40px;
	margin-bottom: 0px;
	box-shadow: 2em !important;
}

.form-box-login {
	margin-top: 200px;
}

.input-group-text {
	min-width: 95px;
}

.text-justify {
	text-align: justify !important;
}

.text-indent {
	text-indent: 2rem;
}

.form-check-input:checked {
	background-color: red !important;
	border-color: red !important;
}

.form-check-input:checked {
	background-color: red !important;
	border-color: red !important;
}

.form-check-input:focus {
	border-color: red !important;
	outline: 0 !important;
	box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25) !important;
}

.form-box-login {
	margin-top: 200px;
}

.input-group-text {
	min-width: 95px;
}

.text-justify {
	text-align: justify !important;
}

.text-indent {
	text-indent: 2rem;
}

.form-check-input:checked {
	background-color: red !important;
	border-color: red !important;
}

.form-check-input:checked {
	background-color: red !important;
	border-color: red !important;
}

.form-check-input:focus {
	border-color: red !important;
	outline: 0 !important;
	box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25) !important;
}

.box-glass {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgb(255, 0, 0);
	vertical-align: ;
}
